<form class="form-horizontal" role="form" method="POST" accept-charset="utf-8" action="/addsouscategories">
  <div class="col-xs-12 col-sm-12">
    <h3>Nouvelle Sous-catégorie</h3>
  </div>
  

  <div class="form-group">
<label for="inputName" class="col-sm-2 control-label">Catégorie mère</label>
    <div class="col-sm-10">
	  <select class="form-control" name="id_categorie" required="required">
	  {{#each result}}
	  <option value="{{_id}}">{{nom_categorie}}</option>
	  {{/each}}
	</select>
    </div>
  </div>


  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Nom de la sous-catégorie</label>
    <div class="col-sm-6">
     <input class="form-control" placeholder="Nom de la sous-catégorie" type="text" name="nom_sous_categorie" title="This field is required" value="{{#if result.one}}{{result.one.nom_sous_categorie}}{{/if}}" required="required"/>
    </div>
  </div>

 
 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
          <input type="hidden" name="_id" value="{{result.one._id}}"/>
        <button type="submit" name="button" id="button" class="btn btn-primary">Valider</button>
    </div>
  </div>

</form>
