{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
  {{> nav}}
{{/content}}
{{#content "page"}}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Bienvenue sur le forum Eirbot
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
          <!-- ================= widgets accueil ======================= -->
          <div class="row">
            <div class="col-xs-12">
                
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
