{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
  {{> nav}}
{{/content}}
{{#content "page"}}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Bienvenue sur le forum Eirbot. Nouvelle conversation.
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
	  <div class="box box-primary">
	    <div class="box-body">
              <form class="form-horizontal" role="form" method="POST" accept-charset="utf-8" action="/addconv">
		<div class="form-group">
		  <label for="titre_conversation" class="col-sm-2 control-label">Titre de la conversation</label>
		  <div class="col-sm-6">
		    <input class="form-control" type="text" name="titre_conversation" title="This field is required" required="required"/>
		  </div>
		</div>
		<div class="form-group">
		  <label for="contenu_commentaire">
		    Premier commentaire
		  </label>
		  <div class="col-sm-6">
		    <textarea class="form-control" name="contenu_commentaire" rows="5" cols="100"></textarea>
		  </div>
		</div>
		<button type="submit" name="button" id="button" class="btn btn-primary">Valider</button>
              </form>
	    </div>
	  </div>
	</section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
