{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
  {{> nav}}
{{/content}}
{{#content "page"}}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h2>
            Bienvenue dans l'espace de gestion des composants d'Eirbot
          </h2>
	 <h2>
	<small>Espace d'administration de l'application</small>
         </h2>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Accueil</a></li>
          </ol>
        </section>

        <section>
          <img src="img/eirbot.png" class="img-responsive" alt="logo OTF²">
        </section>
        <!-- Main content -->
        <section class="content">
         
          <!-- ================= Small boxes (Stat box) ======================= -->


          <!-- Default box -->
          <!-- <div class="box">
            <div class="box-header with-border">
              <h3>{{title}}</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <h5>
                  {{#compare state 'connected' operator="=="}}
              <p class="text-success">CONNECTED</p>
              <p class="text-success">Bienvenue {{user}}, {{message}}</p>
                  {{/compare}}
                  {{#compare state 'not_connected' operator="=="}}
              <p class="text-danger">NOT CONNECTED</p>
                  {{/compare}}
                  {{#compare state 'logout' operator="=="}}
                      <p class="text-danger">Logout</p>

                      <p class="text-danger">{{message}}</p>
                  {{/compare}}
              </h5>
            </div>
          </div>-->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
