{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
    {{> nav}}
{{/content}}
{{#content "page"}}
    <script>
        //<![CDATA[
        $(document).ready(function() {
            populateGenericDatatable("/categoriesjson", "table_categories", "_id", 10,  [], {buttons: [{edit_btn:true, name:"/fiche_categories", id_name:"_id"},{remove_btn:true, name:"/deletecategories", id_name:"_id"}]});
 	    populateGenericDatatable("/souscategoriesjson", "table_sous_categories", "_id", 10,  [], {buttons: [{edit_btn:true, name:"/fiche_souscategories", id_name:"_id"},{remove_btn:true, name:"/deletesouscategories", id_name:"_id"}]});
	$("[data-mask]").inputmask();
        });
        //]]>
    </script>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Gestion des catégories
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Gérer catégories</li>
            </ol>

	</section>


        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">

                    <!-- About Me Box -->
                    <div class="box box-primary">
                        <div class="box-body">
				<form class="form-horizontal" role="form" method="POST"
				 accept-charset="utf-8" action="/addcategories">
				  <div class="col-xs-12 col-sm-12">
				    <h3>Nouvelle Catégorie</h3>
				  </div>
				  <div class="form-group">
				    <label for="inputName" class="col-sm-2 control-label">Nom de la 						catégorie</label>
				    <div class="col-sm-6">
				     <input class="form-control" placeholder="Nom de la catégorie" 						type="text" name="nom_categorie" title="This field is 						required" required="required"/>
				    </div>
				  </div>


				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
					  {{#if result.one}}
					  <input type="hidden" name="_id" />
					  {{/if}}
					<button type="submit" name="button" id="button" class="btn 						btn-primary">Valider</button>
				    </div>
				  </div>

				</form>

				<form class="form-horizontal" role="form" method="POST" 
				accept-charset="utf-8" action="/addsouscategories">
				  <div class="col-xs-12 col-sm-12">
				    <h3>Nouvelle Sous-catégorie</h3>
				  </div>
				  

				  <div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">Catégorie mère</label>
				    <div class="col-sm-10">
					  <select class="form-control" name="id_categorie" required="required">
					  {{#each result}}
					  <option value="{{_id}}">{{nom_categorie}}</option>
					  {{/each}}
					</select>
				    </div>
				  </div>


				  <div class="form-group">
				    <label for="inputName" class="col-sm-2 control-label">Nom de la sous-catégorie</label>
				    <div class="col-sm-6">
				     <input class="form-control" placeholder="Nom de la sous-catégorie" type="text" name="nom_sous_categorie" title="This field is required" required="required"/>
				    </div>
				  </div>

				 
				 <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
					  <input type="hidden" name="_id"/>
					<button type="submit" name="button" id="button" class="btn btn-primary">Valider</button>
				    </div>
				  </div>

				</form>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->

            </div><!-- /.row -->
        </section><!-- /.content -->
       
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-warning">
                        <div class="box-header">
			<h3 class="box-title">Modifier/Supprimer</h3>
                            <!-- <div class="box-tools">
                              <div class="input-group" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                                <div class="input-group-btn">
                                  <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                              </div>
                            </div> -->
                        </div><!-- /.box-header -->
                        <div class="box-body">
			<h3 class="box-title">Liste des catégories</h3>
                            <table class="table table-hover" id="table_categories">
                                <thead>
                                  <tr>
				    <th mData="nom_categorie">Nom</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="dataTables_empty" colspan="10"></td>
                                </tr>
                                </tbody>
                            </table>
			<h3 class="box-title">Liste des sous-catégories</h3>
			<table class="table table-hover" id="table_sous_categories">
                                <thead>
                                  <tr>
				    <th mData="nom_sous_categorie">Nom</th>
				   <th mData="id_categorie">Catégorie mère</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="dataTables_empty" colspan="10"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
